# Application Exposure Ports
PORTAL_PORT=7030
API_PORT=7031
BACKOFFICE_PORT=7032
STOREFRONT_PORT=7033

# Database & Redis Exposure Ports
DATABASE_PORT=1010
REDIS_PORT=1020

# Local Domains (mapped in Nginx / hosts)
LOCAL_API_DOMAIN=api.rederevenda.com
LOCAL_PORTAL_DOMAIN=rederevenda.com
LOCAL_BACKOFFICE_DOMAIN=admin.rederevenda.com
LOCAL_STOREFRONT_BASE_DOMAIN=app-loja.rederevenda.com

###################################################################################
### Vue/Nuxt devtools editor

## for VS Code
LAUNCH_EDITOR="vscode"
NUXT_DEVTOOLS_EDITOR="vscode"

# ## for antigravity
# LAUNCH_EDITOR="antigravity"
# NUXT_DEVTOOLS_EDITOR="antigravity"

EDITOR_OPEN_CMD="code -g"
# EDITOR_OPEN_CMD="antigravity -g"

OPEN_IN_EDITOR_URL='http://host.docker.internal:3001'
## OPEN_IN_EDITOR_URL=http://host.docker.internal:3001
## OPEN_IN_EDITOR_URL=http://localhost:3001
## launchEditor: process.env.NUXT_DEVTOOLS_EDITOR || process.env.LAUNCH_EDITOR || 'vscode',
###################################################################################
