node_modules
**/node_modules/**
/**/node_modules
/**/**/node_modules

vendor
**/vendor/**
/**/vendor
/**/**/vendor

*no*commit*
*No*Commit*
*NO*COMMIT*
*.bak
*.bkp.*
*.bkp
*.log
*.swp
*.out
*.zip
*.del
_ide_helper*

# Docker Local Configs
.env
compose.yml
docker-compose.yml

nohup*.out
nohup*.log
